/* -------------------------google font ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* --------------------------Common Utilities ---------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffe9fbc9;
}
/* ---------------------Customization section -------------------------- */
.phones-container{
    border : 0.1px solid #7A0BC0;
    /* padding: 5px; */
    margin: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 1px rgba(1, 13, 184, 0.795);
}
#phones-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#phone-container{
    width : 75%;    
}

/* -------------------- Mobile responsive------------------- */
@media only screen and (max-width: 600px) {
    #phones-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #phone-container{
        width: 100%;
    }
}
/* ---------------------End -------------------------- */